@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 1020px;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #fff;
  color: #000000;
}


ul {
  list-style-type: none;
}


a {
  color: inherit;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

.page-header {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto -5px auto;
  z-index: 5;
  padding-left: 70px;
  padding-right: 70px;
}

.page-header img {
  margin-right: 30px;
}

.navigation-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 600px;

}

.navigation-user {
  flex-direction: row;
  justify-content: flex-end;
}

.navigation-user .navigation-link {
  padding-left: 11px;
  padding-right: 11px;
  min-height: 22px;
}

.navigation-user .navigation-link:nth-child(1){
  position: relative;
}

.favourite-counter {
  position: absolute;
  left: 23px;
  top: 14px;
  box-sizing: border-box;
  padding-top: 3px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  letter-spacing: -0.1em;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: #FFFFFF;
  background-color: #7DB54F;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.bg-img {
  margin-bottom: 60px;
}

.button {
  display: block;
  color: #ffffff;
  background-color: #756257;
  font-family: 'PT Sans', sans-serif;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.button:active {
  color:rgba(255,255,255,0.5);
}

.button:hover {
  background-color: #755557;
}

.subscribe .button:hover,
.button-price:hover,
.button-in-favorite:hover,
.button-more:hover,
.pagination-link:hover,
.button-search-form:hover {
  background-color: #8399D3;
}


.button-view:hover {
  background-color: #fff7ff;
}

.page-footer .button:hover{
  background-color: transparent;
}

.page-footer .button:active path {
  fill: #8399D3;
  opacity: 0.5;
}

.page-footer .button:hover path {
  fill: #8399D3;
}

.footer-logo {
  margin-bottom: 40px;
  margin-right: 10px;
}

.button-here {
  box-sizing: border-box;
  width: 160px;
  min-height: 37px;
  margin-top: 14px;
  padding-top: 9px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.navigation-link {
  display: block;
  color: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  text-align: center;
  padding: 20px 17px;
  cursor: pointer;
}

.navigation-link:hover {
  opacity: 0.5;
}


.advantages .section-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 80px;
}

.advantages .section-title {
  margin: 0 auto 30px auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 720px;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3 , 400px);
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  text-align: center;
}

.advantages-item:not(.advantages-item-image) {
  background-color: #F0F6FA;
  display: flex;
}

.advantages-item {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  background-color: #fff;
  color: #000000;
  min-height: 384px;
}

.advantages-image {
  grid-column: 2/4;
  grid-row: 1/2;
}

.advantages-image:first-child {
  grid-column: 1/3;
  grid-row: 1/2;
}

.advantages-text {
  width: 230px;
  margin: 0 auto;
  margin-top: 97px;
}

.advantages-text > svg {
  margin-bottom: 10px;
}


.advantages-list > li:nth-last-child(2) {
  background-color: #E6F0F6;
}

.advantages-list-inner li:nth-child(3) {
  background-color: #fff;
}

.advantages-item-image {
  background-color: #83B3D3;
  color: #ffffff;
  grid-column: 1/4;
}


.advantages-title {
  width: 180px;
  margin: 0 auto 0 auto;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-number {
  margin: 30px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.search {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 417px;
}

.search-button {
  width: 575px;
  min-height: 60px;
  margin: 0 auto;
  padding-top: 12px;
  padding-bottom: 12px;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px;
}

.search .section-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 91px 0 29px 0;
}

.search .section-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto 56px auto;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 411px;
}

.subscribe-form {
  display: flex;
  width: 800px;
  box-sizing: border-box;
}

.subscribe-field input{
  display: block;
  width: 575px;
  min-height: 60px;
  border: none;
  border-radius: 10px 0 0 10px;
  background-color: #F2F2F2;
}


.subscribe-field input[placeholder] {
  font-family: 'PT Sans', sans-serif;
  padding-left: 22px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
}



.subscribe-field input:hover {
  background-color: rgba(100,255,255, 0.8);
}

.subscribe-field input:active {
  outline: 2px solid #83B3D3;
}

.subscribe-button {
  width: 200px;
  border-radius: 0 10px 10px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  background-color: #83B3D3;
}

.subscribe-index {
  width: 1200px;
  color: #ffffff;
  background-color: #425C74;
  background-image: url("../images/background-footer.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-index > input {
  background-color: #FFFFFF;
}


.subscribe .section-title {
  margin-top: 94px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 46px;
}

.subscribe-index .section-title {
  margin-bottom: 29px;
}


.subscribe .section-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 46px;
}

.page-footer {
  display: flex;
  width: 1077px;
  margin: 40px auto;
  justify-content: space-between;
}

.footer-phone {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 30px;
}

.footer-phone:hover {
  color: rgba(0,0,0, 0.5);
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  width: 127px;
  padding: 0;
  justify-content: space-between;
  margin-top: 0;
}



.social-link {
  background-color: transparent;
  padding: 10px;
}

.inner-header {
  margin: 0 auto;
  width: 1200px;
  color: #FFFFFF;
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #67585B;
}

.hotels-container {
  width: 1056px;
  margin: 0 auto 42px auto;
  min-height: 408px;
}


.inner-header-title {
  padding: 35px 0 0 0;
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-item {
  margin-right: 26px;
  position: relative;
}

.breadcrumbs-item:first-child::before {
  position: absolute;
  top: 7px;
  left: 23px;
  width: 18px;
  height: 18px;
  content: "";
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.breadcrumbs-link {
  display: block;
  margin-bottom: 45px;
}


.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

/* Mark */
.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.control-label {
  margin-left: 5px;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 4px;
  width: 15px;
  height: 15px;
  background-image: url("../images/check.svg");
  background-repeat: no-repeat;
  content: "";
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}


.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.filters-hotels {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.hotels-filter {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
}

.hotels-filter-group {
  border: none;
  padding: 0;
  margin: 0;
}

.filter-cost {
  margin-left: 105px;
  margin-right: 20px;
}

.hotels-filter-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.hotels-filter-item {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 13px;
}

.hotels-filter-title {
  padding-bottom: 30px;
}

.catalog-filter-span {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: right;
  color: #FFFFFF;
  opacity: 0.3;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 160px;
  margin-top: 60px;
}

.range {
  width: 287px;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-bottom: 16px;
  background-color: rgba(255,255,255, 0.3);
  border-radius: 2px;
}



.range-bar {
  position: absolute;
  height: 4px;
  background-color: rgba(255,255,255, 1);
}


.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.range-toggle:hover {
  background-color: #8399D3;
}

.range-toggle:active,
.range-toggle:focus {
  outline: 3px solid #8399D3;
}

.hotels-filter-group:last-of-type {
  width: 287px;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  border: #ffffff solid 2px;
  margin-bottom: 28px;
  margin-top: 5xp;
}

.catalog-filter-label {
  display: flex;
  width: 50%;
}

.catalog-filter-label .range-input {
  flex-grow: 1;
}

.catalog-filter-label:last-of-type {
  border-left: #ffffff solid 2px;

}

.catalog-filter-label span {
  padding-top: 12px;
  margin-right: 17px;
  font: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  opacity: 0.3;
}

.range {
  margin-top: 6px;
}


.range-input {
  font: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  background-color: transparent;
  height: 45px;
  box-sizing: border-box;
  margin-right: 0;
  color: #ffffff;
  border: none;
  padding-left: 17px;
  width: 70%;
}



.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}


.button-price {
  min-height: 48px;
  background-color: #83B3D3;
}

.button-reset {
  font-weight: 400;
  height: 48px;
  font-size: 18px;
  line-height: 23px;
  text-transform: capitalize;
  color: #FFFFFF;
  background-color: transparent;
}

.button-reset:hover {
  background-color: rgba(255,255,255, 0.2);
}

.hotels-catalog {
  width: 1056px;
  margin: 0 auto;
  padding-left: 70px;
  padding-right: 70px;
}

.sorting-container .button {
  width: 48px;
  height: 48px;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 54px;
}

.found-hotels {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.view {
  width: 160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.button-view {
  box-sizing: border-box;
  background-color: #fff;
  border: 2px solid #E6E6E6;
  padding: 13px 14px;
}

.button-view-active {
  border: 2px solid #000000;
}

.select-control {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3 , 340px);
  column-gap: 18px;
  row-gap: 8px;
  margin: 0;
  padding: 0;
}

.hotel-card {
  display: grid;
  grid-template-columns: 1fr 26px 140px;
  margin: 20px;
  gap: 16px;
}

.hotel-img {
  grid-column: 1/-1;
}

.hotel-title {
  padding: 0;
  margin: 0;
  grid-column: 1/-1;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}

.hotel-type {
  grid-column: 1/3;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333
}

.hotel-price {
  grid-column: 3/5;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333
}

.hotel-stars {
  box-sizing: border-box;
  width: 23px;
  margin: 0;
  min-height: 37px;
  background-repeat: repeat-x;
  background-position: 0 50%;
  background-size: 23px 20px;
  background-image: url("../images/star.svg");
}



.select {
  position: relative;
  z-index: 1;
}

.pagination-select {
  width: 160px;
}

.catalog-select {
  width: 287px;
  margin-left: 100px;
}

.select-control {
  margin-left: 100px;
  width: 287px;
  height: 48px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  padding-left: 19px;
}

.select-button {
  display: grid;
  grid-template-columns: 1fr 50px;
  padding: 10px 0 10px 22px;
  color: #333333;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  font-size: 18px;
  cursor: default;
  user-select: none;
}

.select-button::-webkit-details-marker {
  display: none;
}

.select-button::after {
  content: "";

  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("../images/dropdown.svg");
}

.select-button:hover:not(:active) {
  border-color: #83b3d3;
}

.select-button:active {
  color: rgba(51, 51, 51, 0.3);
}

.select-button:focus:not(:active) {
  outline: none;
  border-color: #83b3d3;
}

.select-button:active::after {
  opacity: 0.3;
}

.select[open] .select-button::after {
  transform: rotate(180deg);
}

.select-menu {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  margin: 0;
  padding: 10px 0;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  list-style: none;
}

.select-item-active {
  background-color: #e6e6e6;
}

.select-option {
  display: block;
  padding: 8px 20px;
  color: #333333;
  text-decoration: none;
}

.select-option:hover {
  background-color: #f2f2f2;
}

.select-item-active .select-option:hover {
  background-color: transparent;
}

.select-option:active {
  color: rgba(51, 51, 51, 0.3);
  background-color: #f2f2f2;
}

.select-label {
  margin: 0;
  margin-left: 240px;
  padding-top: 10px;
}



.star-two {
  width: 46px;
}

.star-three {
  width: 69px;
}

.star-four {
  width: 92px;
}

.star-five {
  width: 115px;
}

.hotel-rate {
  grid-column: 3/4;
  background-color: #F2F2F2;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  width: 160px;
  padding-top: 9px;
  padding-bottom: 9px;
  display: block;
  justify-self: end;
}

.hotels-count .select-control {
  width: 160px;
  margin-left: 51px;
}

.button-hotel-more {
  padding-top: 9px;
  padding-bottom: 9px;
  grid-column: 1/3;
  width: 133px;
}

.button-in-favorite {
  padding-top: 9px;
  padding-bottom: 9px;
  grid-column: 3/5;
  width: 141px;
  background-color: #83B3D3;
}

.button-in-favorite-active {
  background-color: #7DB54F;
}

.more-container {
  width: 1055px;
  height: 120px;
  margin-top: 34px;
  margin-bottom: 30px;
  box-sizing: border-box;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
}

.button-more {
  display: block;
  width: 620px;
  height: 60px;
  margin: 30px auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: #82B3D3;
}


.pagination-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.pagination-container .select-label {
  margin-left: 171px;
  padding-top: 14px;
}

.pagination {
  display: flex;
  width: 450px;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.pagination-item {
  margin-right: 8px;
  margin-bottom: 5px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  box-sizing: border-box;
  display: block;
  min-width: 55px;
  min-height: 55px;
  padding-top: 15px;
  background-color: #83B3D3;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.subscribe-catalog .section-title {
  margin-top: 66px;
}

.subscribe-catalog .subscribe-form {
  margin-bottom: 140px;
}


/*Modal*/
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 5;
}

.modal-opened {
  display: flex;
}

.modal {
  width: 715px;
  min-height: 561px;
  margin: auto;
  background: #FFFFFF;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  margin: 54px 70px 0 70px;

}

.modal-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.modal .section-title {
  margin: 8px 0 0 0;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
}

.modal-close-button {
  position: relative;
  width: 53px;
  height: 53px;
  border: none;
  border-radius: 50%;
}

.modal-close-button::before, .modal-close-button::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 2px;
  top: 25px;
  left: 18px;
  background-color: black;
  transform: rotate(-45deg);
}

.modal-close-button::after {
  transform: rotate(45deg);
}

.search-form {
  display: grid;
  grid-template-columns: 50% 1fr;
  grid-template-rows: 50px 50px 50px 60px;
  row-gap: 40px;
}

.search-form label {
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  align-items: center;
}

.search-form .field-group {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}


.button-search-form {
  height: 60px;
  background: #83B3D3;
  border-radius: 10px;
}

.auth-form-field {
  position: relative;
  border: none;
  background: #F2F2F2;
  border-radius: 4px;
  padding: 0 19px;
  box-sizing: border-box;
}

.auth-form-field[type='date'] {
  width: 420px;
  height: 50px;
}

.auth-form-field[type='date']::-webkit-calendar-picker-indicator {
  background-image: url("../images/calendar.svg");
  opacity: 0.3;
}

.field-with-buttons {
  position: relative;
  z-index: 0;

  display: grid;
  grid-template-columns: 50px 1fr 50px;
  width: 133px;
}

.number-input {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  padding: 0 50px;
  text-align: center;
  appearance: textfield;
}


.number-input::-webkit-inner-spin-button,
.number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number-button {
  position: relative;
  z-index: 1;

  grid-row: 1 / 2;
  display: grid;
  place-content: center;

  background-color: transparent;
  border: none;
}

.modal-minus {
  grid-column: 1 / 2;
}


.modal-plus {
  grid-column: -2 / -1;
}

.modal-plus::after {
  background-image: url("../images/plus.svg");
}

.modal-minus::after {
  background-image: url("../images/minus.svg");
}

.number-button::after {
  content: "";
  width: 25px;
  height: 25px;

  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 4px;
  opacity: 0.3;
}

.number-button:hover::after {
  opacity: 1;
}

.number-button:active::after {
  opacity: 0.2;
}

.number-button:focus {
  outline: none;
}

.number-button:focus:not(:active)::after {
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
  opacity: 1;
}

.modal-info-button {
  width: 25px;
  height: 25px;
  background: #83B3D3;
  border-radius: 50%;
  border: none;
  margin-top: 8px;
  cursor: pointer;
  margin-right: 10px;
}



.button-search-form{
  grid-column: 1 / -1;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  text-transform: uppercase;

}

.search-form-amount {
  display: flex;
  justify-content: space-between;
}

.search-form-amount:last-of-type {
  margin-left: 56px;
}







