@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #fff;
  color: #000000;
}

ul {
  list-style-type: none;
}


a {
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

.page-header {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
}

.page-header img {
  margin-right: 30px;
}

.navigation-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 600px;

}

.navigation-user {
  justify-content: flex-end;
}

.navigation-user .navigation-link {
  min-width: 16px;
  min-height: 22px;

}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.button {
  display: block;
  color: #ffffff;
  background-color: #756257;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.button-here {
  box-sizing: border-box;
  width: 160px;
  height: 37px;
  margin-top: 14px;
  padding-top: 9px;
}

.navigation-link {
  display: block;
  color: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  text-align: center;
  padding: 20px 17px;
}


.advantages .section-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}

.advantages .section-title {
  margin: 0 auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 720px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  text-align: center;
}

.advantages-item {
  display: flex;
  width: 1200px;
  background-color: #fff;
  color: #000000;
  min-height: 384px;
}


.advantages-item-image {
  background-color: #83B3D3;
  color: #ffffff;
}


.advantages-item-square {
  width: 400px;
  background-color: #F0F6FA;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.advantages-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.search {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 417px;
}

.search-button {
  width: 575px;
  margin: 0 auto;
}

.search .section-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.search .section-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-index {
  width: 1200px;
  height: 411px;
  color: #ffffff;
  background-color: #425C74;
  background-image: url("../images/background-footer.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe .section-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.subscribe .section-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.page-footer {
  display: flex;
  width: 1200px;
  margin: 40px auto;
  justify-content: space-between;
}

.social-list {
  display: flex;
  width: 107px;
  margin: 0;
  padding: 0;
  border: 1px solid;
}

.inner-header {
  margin: 0 auto;
  width: 1200px;
  color: #FFFFFF;
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.hotels-container {
  width: 1056px;
  margin: 0 auto;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.inner-header-title {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.filters-hotels {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.hotels-filter {
  display: flex;
  margin: 0 auto;
}

.hotels-filter-list {
  display: flex;
  flex-direction: column;
}

.catalog-filter-span {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: right;
  color: #FFFFFF;
  opacity: 0.3;
}

.button-reset {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.hotels-catalog {
  width: 1056px;
  margin: 0 auto;
}

.sorting-container .button {
  width: 48px;
  height: 48px;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.found-hotels {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.view {
  display: flex;
  flex-wrap: wrap;
}

.view-item {
  margin: 0 4px;
}

.button-view {
  background-color: #fff;
  border: 1px solid #000000;
}

.select-control {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.hotel-list {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.hotel-card {
  width: 340px;
}

.hotel-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}

.hotel-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333
}

.hotel-type {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333
}

.hotel-rate {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}


.button-more {
  display: block;
  margin: 30px auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
}


.pagination-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.pagination {
  display: flex;
  padding: 0;
  margin: 0;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  box-sizing: border-box;
  display: block;
  width: 55px;
  height: 55px;
  padding-top: 15px;
}
