@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #fff;
  color: #000000;
}

ul {
  list-style: none;
}

a {
  color: inherit;
}

.button {
  color: #ffffff;
  background: #756257;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.navigation-link {
  color: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  text-align: center;
}

.advantages .section-description {
  font-size: 22px;
  line-height: 36px;
}

.advantages .section-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.advantages-list {
  list-style: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  text-align: center;
}

.advantages-item {
  background-color: #fff;
  color: #000000;
}

.advantages-item-image {
  background-color: #83B3D3;
  color: #ffffff;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.advantages-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}


.search .section-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.search .section-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscribe {

}

.subscribe-index {
  width: 1200px;
  height: 411px;
  color: #ffffff;
  background-color: #425C74;
  background-image: url("../images/background-footer.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe .section-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.subscribe .section-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}


.inner-header {
  color: #FFFFFF;
  background-image: url("../images/catalog-background.jpg");
  background-size: 100% auto;

}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.filters-hotels {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-span {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: right;
  color: #FFFFFF;
  opacity: 0.3;
}

.button-reset {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.found-hotels {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.select-control {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.hotel-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}

.hotel-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333
}

.hotel-type {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333
}

.hotel-rate {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}


.button-more {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
}
